/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid black 1px;
    width: 500px;
}